__pycache__
*.h5
*.ipynb_checkpoints
*.sublime-project
*.sublime-workspace
pyrightconfig.json

# Ignore all dirs in root by default
/*/

# Include main code directory
!/scripts/

# Include an example params.json
!/analysis/
/analysis/*
!/analysis/params.json
